# Rename this file to .env
# and put it in the root of your sanity studio folder

# ----- WARNING ----
# Never commit files which contain sensitive data
# such as API keys, passwords and access tokens
# to your source control repository.
# 
# Make sure your .gitignore is properly configured
# For more info, have a read of thiS:
# http://jonathansoma.com/lede/foundations-2019/classes/apis/keeping-api-keys-secret/


GOOGLE_MAPS_API_KEY=YOUR-KEY-HERE